{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'blog/css/main.css'%}">
    <title>Document</title>
</head>
<body>
    <div><i class="fab fa-500px"></i> اهلاً ومرحباً بكم في المدونة</div>

    <script src="{% static 'blog/js/popper.min.js'%}"></script>
    <script src="{% static 'blog/js/bootstrap.min.js'%}"></script>
    <script src="{% static 'blog/js/fontawsome-all.min.js'%}"></script>
</body>
</html>